*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}


.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width:100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 1rem;
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 70px;
    background-color: #BF40BF;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;


}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span{
    display: block;
    background-color: #BF40BF;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transofrm, opacity;
}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: #BF40BF;
    margin-right: 2.5rem;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}

.container .hero-pic{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-pic img{
    width: 100%;
    height: 100%;
    transition: 0.5px;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span{
    color: #BF40BF;
    font-size: 16px;
}

.hero-text h1{
    color: #fff;
    font-size: 3rem;
}

.hero-text p{
    color: #e5e5e5;
}

.btn-group{
    margin: 45px 0;
}

.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #444;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #BF40BF;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}

.btn-group .btn:hover{
    background-color: #BF40BF;
    color: #fff;
    border-color: #BF40BF;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}

.btn.activate{
    border-color:#BF40BF ;
}

.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #BF40BF;
    transform:rotate(360deg);
}

@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }

    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin:0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:100%;
        bottom:0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5px;
        padding: 25px 0px;
    }

    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}

@media(max-width:768px){

    *{
        font-size: 18px;
    }


    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }

    .container .hero-pic{
        width: 300px;
        height: 300px;
        border-width: 8px;
    }

    .aboutmetext{
        margin-top: 0;
        padding: 1rem;
        max-width: 90%;
    }
    .profilepic img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

    .project-card {
    width: 150px;
  }

    .project-video video,
  .project-video iframe,
  .project-video img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    object-fit: cover;
  }

    .project-video .carousel-btn {
    position: static;
    margin: 10px 5px;
    transform: none;
    border-radius: 5px;
    font-size: 1.5rem;
  }

    .project-display {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        padding-left: 0;
    }
    .project-video{
        width: 100%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .project-info {
        margin-top: 1rem;
        padding: 0 1rem;
        text-align: center;
    }

    .carousel-container{
        margin-top: 2rem;
    }

}

@media (max-width: 480px) {
  * {
    font-size: 16px;
  }
  .container .hero-pic {
    width: 200px;
    height: 200px;
    border-width: 6px;
  }
    .project-card {
    width: 120px;
  }
    section {
    padding: 100px 1cap;
  }
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 20px;
    text-align: center;
}

#about{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.profilepic img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.aboutmetext {
    max-width: 600px;
    color: pink;
    margin-top: -400px;
}

#projects{
    background-color: #111;
    color: #fff;
}


.project-detail{
    display: none;
    background-color: #111;
    color: #fff;
    padding: 100px 20px;
    min-height: 100vh;
}

.project-detail.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-btn{
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #007ced;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#contact{
    background-color: #222;
    color: #fff;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1rem;
    margin: 2rem auto 0 auto;
    z-index: 2;
}

.carousel-track{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
}


.project-card{
    flex: 0 0 auto;
    width: 200px;
    transition: transform 0.1s ease, opacity 0.1s ease;
    opacity: 0.5;
    transform: scale(0.8);
    cursor: pointer;
}

.project-card img{
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.project-card.active {
    transform: scale(1.2);  
    opacity: 1;
}

.carousel-btn{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 1rem;
}

.carousel-btn.prev{
    left: 0;
}

.carousel-btn.next{
    right: 0;
}

.project-display{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    margin-bottom: 1rem;
    color: white;
    padding-left: 2rem;
    max-width: 1200px;
}

.project-video video{
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    height: auto;
}

.project-info{
    max-width: 400px;
    text-align: left;
    margin-top: 1rem;
}

.project-video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 5rem auto;
}

.project-video .carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background: #FF69B4;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.project-video .carousel-btn.prev{
    left: 0;
}

.project-video .carousel-btn.next{
    right: 0;
}

.project-video img,
.project-video video{
    width: 100%;
    height: auto;
    max-height: 500px;;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.project-screenshots {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project-screenshots img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.project-screenshots img:hover {
    transform: scale(2);
    transition: transform 0.3s ease;
}

.screenshots-header {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
  color: #fff;
  font-weight: bold;
}

.socialwork {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.socialwork i:hover {
    color: #BF40BF;
    transform:rotate(360deg);
    transition: transform 0.5s ease, color 0.5s ease;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.image-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

